@page "/GridResults"
@using System.Diagnostics
@inject NavigationManager NavigationManager

<PageTitle>Air-to-Ground Pathing Results</PageTitle>

<h1>Air-to-Ground Pathing Results</h1>
<div class="row">
    @if (aStarGenerated)
    {
        <div class="col-md-6">
            <div class="row" style="padding-bottom: 20px;">
                <h3>A* Grid Path</h3>
            </div>
            
            <div class="row" style="padding-bottom: 20px;">
                <img src="@aStarImageSource" 
                     alt="Grid World"/>
            </div>
        </div>
    }

    @if (dijkstraGenerated)
    {
        <div class="col-md-6">
            <div class="row" style="padding-bottom: 20px;">
                <h3>Dijkstra Grid Path</h3>
            </div>
            
            <div class="row" style="padding-bottom: 20px;">
                <img src="@dijkstraImageSource" 
                     alt="Grid World"/>
            </div>
        </div>
    }

    @if (aStarGenerated)
    {
        <div class="col-md-6">
            <h3>A* Results</h3>
            @foreach (var line in File.ReadLines("./wwwroot/outputs/GridResults/ASTAR_Results/results_a.txt"))
            {
                <p>@line</p>
            }
            <a class="btn btn-primary" style="margin-bottom: 1rem" href="@aStarZipFilePath" download="ASTAR_Results.zip">Download A* Results</a>
        </div>
    }
    @if (dijkstraGenerated)
    {
        <div class="col-md-6">
            <h3>Dijkstra Results</h3>
            @foreach (var line in File.ReadLines("./wwwroot/outputs/GridResults/Dijkstra_Results/results_d.txt"))
            {
                <p>@line</p>
            }
            <a class="btn btn-primary" style="margin-bottom: 1rem" href="@dijkstraZipFilePath" download="Dijkstra_Results.zip">Download Dijkstra Results</a>
        </div>
    }

    else if (!aStarGenerated && !dijkstraGenerated)
    {
        <h6>No results generated yet. Please run the algorithm first.</h6>
        <a href="runalgorithm">
            <button class="btn btn-primary" >Run Algorithm</button>
        </a>
    }
</div>

@code {
    private bool aStarGenerated = false;
    private bool dijkstraGenerated = false;

    private string? aStarImageSource = "";
    private string? aStarTextSource = "";
    private string? dijkstraImageSource = "";
    private string? dijkstraTextSource = "";
    private string? aStarZipFilePath = "";
    private string? dijkstraZipFilePath = "";

    protected override Task OnInitializedAsync()
    {
        if(File.Exists("./wwwroot/outputs/GridResults/ASTAR_Results/results_a.png")){
            aStarGenerated = true;
            aStarImageSource = $"outputs/GridResults/ASTAR_Results/results_a.png?{Guid.NewGuid()}";
            aStarTextSource = $"outputs/GridResults/ASTAR_Results/results_a.txt?{Guid.NewGuid()}";
        }
        if(File.Exists("./wwwroot/outputs/GridResults/Dijkstra_Results/results_d.png")){
            dijkstraGenerated = true;
            dijkstraImageSource = $"outputs/GridResults/Dijkstra_Results/results_d.png?{Guid.NewGuid()}";
            dijkstraTextSource = $"outputs/GridResults/Dijkstra_Results/results_d.txt?{Guid.NewGuid()}";
        }
        if(File.Exists("./wwwroot/outputs/GridResults/ASTAR_Results.zip")){
            aStarZipFilePath = $"outputs/GridResults/ASTAR_Results.zip?{Guid.NewGuid()}";
        }
        if(File.Exists("./wwwroot/outputs/GridResults/Dijkstra_Results.zip")){
            dijkstraZipFilePath = $"outputs/GridResults/Dijkstra_Results.zip?{Guid.NewGuid()}";
        }
        return Task.CompletedTask;
    }
}